reproductions/**/*.zip filter=lfs diff=lfs merge=lfs -text
docs/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/**/*.jpg filter=lfs diff=lfs merge=lfs -text
docs/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
docs/**/*.gif filter=lfs diff=lfs merge=lfs -text
docs/**/*.webp filter=lfs diff=lfs merge=lfs -text
docs/**/*.pdf filter=lfs diff=lfs merge=lfs -text
docs/**/*.pptx filter=lfs diff=lfs merge=lfs -text
forward-tests/**/*.pdf filter=lfs diff=lfs merge=lfs -text
forward-tests/**/*.zip filter=lfs diff=lfs merge=lfs -text
forward-tests/**/*.png filter=lfs diff=lfs merge=lfs -text
forward-tests/**/*.jpg filter=lfs diff=lfs merge=lfs -text
forward-tests/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
